<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMasterConfigurationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/FundingPilotSystemServices/FPConfig/MasterConfigurationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterConfigurationService"
                contract="FundingPilotSystem.Services.MasterConfigurationService.IMasterConfigurationService"
                name="BasicHttpBinding_IMasterConfigurationService" />
        </client>
    </system.serviceModel>
</configuration>