

.required-field-symbol
{
    color: #ff0000;
    font-size: 8pt;
    vertical-align: top;
}

.required-field-note
{
    text-align: left;
    color: black;
    font-size: 8pt;
}
/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d;
    font-weight: normal;
}

/*.input-validation-error
{
    background-color: #e80c4d;    
    border: 1px solid #E80C4D;
}*/

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #e80c4d;
}

.validation-summary-valid
{
    display: none;
}
/* styles for validation helpers */

label
{
    color: #3C3C3C !important;
    font-weight: normal;
    display: inline-block;
    vertical-align: text-top;
}

/* Masked (Loding-Div) */
.load-mask-div
{
    vertical-align: middle;
    z-index: 25000;
    position: absolute; /*top: 0;left: 0;*/
    background-color: WhiteSmoke !important;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    zoom: 1;
}

#loading-div
{
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2px;
    margin: -35px 0 0 -30px;
    z-index: 25001;
}

    #loading-div .loading-indicator
    {
        background: url(../../Images/Shared/ajax-loader.gif) no-repeat;
        font: bold 13px tahoma,arial,helvetica;
        margin: 0;
        text-align: center;
        vertical-align: middle;
        height: 100px;
        width: 150px;
    }
/* Masked (Loding-Div) */

/* Telerik Combo box styles */
.t-dropdown .t-input
{
    border: 1px solid #CCCCCC !important;
    line-height: 20px !important;
    height: 22px !important;
    background-color: white !important;
}

.t-combobox .t-input
{
    border: 1px solid #CCCCCC !important;
    line-height: 20px !important;
    height: 25px !important;
}

.t-picker-wrap .t-select, .t-dropdown-wrap .t-select
{
    height: 29px !important;
}

.t-dropdown .t-select, .t-selectbox .t-select
{
    border: inherit !important;
}

/*for combo caret*/
.t-dropdown-wrap .t-icon
{
    margin-top: 6px !important;
    vertical-align: top;
}

.t-reset
{
    border: 0 none;
    font-size: 95% !important;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}

/* Telerik Combo box styles */

/* styles for validation helpers */


.p_header
{
    padding-bottom: 0px !important;
    padding-top: 15px !important;
}

.legend_custom
{
    border-color: -moz-use-text-color -moz-use-text-color #FFFFFF !important;
}

/*html
{
    overflow-x: hidden !important;
}*/

.button
{
    width: 7em !important;
    height: 2.1em !important;
}

.button-large
{
    width: 10em !important;
    height: 2.1em !important;
}

.button-extra-large
{
    width: 15em !important;
    height: 2.1em !important;
}

/*icons*/
a.disabled [class^="icon-"]
{
    color: #ccc !important;
}

a:hover.disabled [class^="icon-"]
{
    color: #ccc !important;
    cursor: not-allowed;
}

[class^="icon-"]
{
    color: black !important;
}

a:hover [class^="icon-"]
{
}

a:hover [class^="icon-"]
{
    color: blue !important;
    text-decoration: none !important;
}

a:hover .icon-caret-up
{
    color: white !important;
}

.icon-caret-up
{
    color: white !important;
}

/*icons*/


.greyBackGround
{
    background: none repeat scroll 0 0 #EFEFEF;
    width: 95%;
}

.labelBold
{
    font-weight: bold;
    width: 120px;
}

.pageHeader
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-color: #E5E5E5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 1.5em;
    line-height: 36px;
    margin-bottom: 6px;
    padding: 0;
    width: 100%;
}

.t-button-disabled
{
    border-color: #828282;
    color: #333;
}

.t-grid .t-grid-header .t-header .t-link {
    height: auto !important;
}

.t-combobox > .t-dropdown-wrap {
    padding-right: 0px !important;
}