<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FPMasterValuesEntities" connectionString="metadata=res://*/ORM.FPMasterValues.csdl|res://*/ORM.FPMasterValues.ssdl|res://*/ORM.FPMasterValues.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vps341.vpswin.dk;initial catalog=FPMasterValues;user id=sa;password=sa@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FPUserCredentialEntities" connectionString="metadata=res://*/ORM.FPUserCredential.csdl|res://*/ORM.FPUserCredential.ssdl|res://*/ORM.FPUserCredential.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vps341.vpswin.dk;initial catalog=FPUserCredential;persist security info=True;user id=sa;password=sa@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FPUserProfileEntities" connectionString="metadata=res://*/ORM.FPUserProfile.csdl|res://*/ORM.FPUserProfile.ssdl|res://*/ORM.FPUserProfile.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vps341.vpswin.dk;initial catalog=FPUserProfile;persist security info=True;user id=sa;password=sa@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FPConfigEntities" connectionString="metadata=res://*/ORM.FPConfig.csdl|res://*/ORM.FPConfig.ssdl|res://*/ORM.FPConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vps341.vpswin.dk;initial catalog=FPConfig;user id=sa;password=sa@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EncryptionKey" value="MAKV2SPBNI99212" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>